<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc_core.dao.CommunityWorkerMapper">


    <select id="findCommunityByKeyWords" resultType="com.sc_core.entity.CommunityWorker">
        select community_worker_id,name,sex,telephone,worker_community,username
        from community_worker
        <where>
            <if test="communityWorkerId != null and communityWorkerid != ''">
                and community_worker_id = #{communityWorkerId}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name},'%')
            </if>
            <if test="workerCommunity != null and workerCommunity != ''">
                and worker_community like concat('%',#{workerCommunity},'%')
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
        </where>
    </select>
</mapper>
