<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sc_test.dao.TestMapper">


    <select id="testSelect" resultType="com.example.sc_test.pojo.TestObject">
        select * from test where id=1;
    </select>

    <select id="testMultiParamQuery" resultType="com.example.sc_test.pojo.TestObject">
        select * from test where id in(
            <foreach collection="s" item="id" separator="," >
                #{id}
            </foreach>
            );
    </select>


</mapper>